@import './base.css';

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .3s ease;
	opacity: 100;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
	transition: height .5s, opacity .2s ease;
	height: auto;
	opacity: 100;
	interpolate-size: allow-keywords;
}

.slide-down-enter-from,
.slide-down-leave-to {
	transition: height .5s, opacity .2s ease .3s;
	height: 0;
	opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
	transition: transform 0.4s ease, opacity 0.4s ease;
	transform: translateY(0);
}

.slide-up-enter-from,
.slide-up-leave-to {
	transform: translateY(100%);
	opacity: 0;
}

.slide-from-right-enter-active,
.slide-from-right-leave-active {
	transition: transform 0.4s ease, opacity 0.4s ease;
}

.slide-from-right-enter-from,
.slide-from-right-leave-to {
	transform: translateX(100%);
	opacity: 0;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1920px) {}